
  /* 메인 파트 */
  #main_wrap {
    width:100%;
  }

  #main_wrap .main_background{
    width:100%;
    display:flex;
    justify-content: space-between;
    width:100%;
    height:100vh;
    margin:0 auto;
    background: url('../img/main/mabiling.png');
    background-size : cover;
  }
  #main_wrap .main_left_side{
    position:relative;
    width:50%;
    overflow:hidden;
  }
  #main_wrap .main_right_side{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    text-align:center;
    font-size:50px;
    color:white;
    background:black;
  }

  #main_wrap .main_des{
    position:absolute;
    left:-300px;
    bottom:500px;
    background:black;
    transform:rotate(-90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transition:all 0.5s;

   
  }
  #main_wrap .main_des p{
    padding:0 0 10px 10px;
    font-size:50px;
    margin:0;
    color:white;
    white-space:nowrap;

  }
  #main_wrap .main_des:hover{
    bottom: 510px;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.171);

  }

//   @media screen and(max-width:900px){
    
//   #main_wrap .main_background{
//     flex-direction: column;
//    }
//    #main_wrap .main_des{
//     left:-200px;
//     bottom:400px;
//     transition:all 0.5s;
//   }
//   #main_wrap .main_des p{
//     padding:0 0 10px 10px;
//     font-size:30px;
//     margin:0;
//     color:white;
//     white-space:nowrap;

//   }
//    #main_wrap .main_left_side{
//      width:100%;
//      height:70vh;
//    }
//    #main_wrap .main_right_side{
//      width:100%;
//      height:300px;
//    }
 
//   }